{% extends 'layout.html' %}
{% block body %}
    <div class='jumbotron text-center' style="padding: 10%">
        <h3 class="alert alert-success"><strong>Awesome!</strong> Please check the destination directory for requested data.</h3><br>
        <h4>To perform the sorting again please click <a href="/start" class="btn btn-success btn-sm">here</a></h4><br><br>
        <h5 class = "alert alert-warning">If you are not able to find the new file, Please check the following make sure you have entered the correct details on the form including sheetname of the source and destination file.</h5>
    </div>   
{% endblock %}